.member_avatar {
  width: 126px;
  height: 126px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 48px;
}

@media screen and (max-width: 400px) {
  .member_avatar {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .member_avatar {
    width: 60px;
    height: 60px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .member_avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .member_avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }
}
