#find_us {
  background: linear-gradient(
    0.3deg,
    rgba(1, 27, 109, 0) 25.33%,
    #011b6d 136.45%
  );
}

.jobs_careers {
  width: 160px;
  height: 56px;
  font-size: 22px;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .jobs_careers {
    width: 128px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
