.menu-open {
  position: absolute;
  top: 0;
}
.menu-closed {
  display: none;
}
#anchor-links a {
  margin-left: 88px;
}

.sm-careers {
  width: 120px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  #anchor-links a {
    margin-left: 40px;
  }
}
