.menu-open {
  position: absolute;
  right: 0;
  left: 0;
  background-color: black;
  z-index: 2;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 24px;
}
.menu-open a {
  display: block;
  text-align: center;
  margin-top: 16px;
}
.menu-closed {
  display: none;
}
#anchor-links a {
  margin-left: 88px;
}

.sm-careers {
  width: 120px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  #anchor-links a {
    margin-left: 40px;
  }
}
