/* #intro {
  background-image: url(../../assets/intro_bg.png);
} */
#intro span {
  margin: 0 15%;
  text-align: center;
  font-size: 80px;
  line-height: 100px;
}
#intro span strong {
  color: var(--contek-color);
}

@media screen and (max-width: 768px) {
  #intro span {
    font-size: 28px;
    line-height: 36px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 768px) {
  #intro span {
    font-size: 56px;
    line-height: 80px;
  }
}
